input {
  box-sizing: border-box;
  padding: 16px 40px;
  font-size: 24px;
  width: 228px;
  margin: 0 17px;
  border-radius: 7px;
}

input::placeholder {
  color: rgba(186, 188, 190, 1);
  text-align: center;
}

.inp-form p {
  margin-bottom: 27px;
}

.inp-form label {
  font-size: 24px;
}

.inp-box {
  margin-bottom: 115px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.inp-box + button {
  position: relative;
}

.inp-box + button::after {
  content: "";
  display: block;
  width: 64px;
  height: 72px;
  background: url("../../../public/assets/click.png") no-repeat;
  position: absolute;
  right: -77px;
  top: 23px;
}
