.tit-img-bg {
  background: url("../../../public/assets/clock.png") no-repeat center / 261px
    265px;
  margin-bottom: 66px;
}

.tit-img {
  width: 564px;
  aspect-ratio: 564 / 112;
  padding: 54px 0;
}

.article-tit {
  font-family: "OTEnjoystoriesBA";
  font-size: 36px;
  color: #f5df4d;
}

.article-desc {
  font-size: 18px;
  line-height: 24px;
  margin: 78px auto 102px auto;
  position: relative;
  width: 373px;
}

/* FIXME: 왜 가상요소 밖 쪽으로 생기지 않는걸까.. */
.article-desc::before,
.article-desc::after {
  content: '"';
  display: block;
  width: 46px;
  height: 1em;
  color: rgba(252, 238, 33, 0.3);
  font-family: "GmarketSansBold";
  font-size: 96px;
  position: absolute;
  top: 40px;
  bottom: 0;
}

.article-desc::before {
  left: -14px;
}

.article-desc::after {
  right: -14px;
}

.article-desc strong {
  font-family: "GmarketSansBold";
  font-size: 24px;
}
