.tit-img-bg {
  background: url("../../../public/assets/clock.png") no-repeat center / 261px
    265px;
  margin-bottom: 66px;
}

.tit-img {
  width: 564px;
  aspect-ratio: 564 / 112;
  padding: 54px 0;
}

.article-tit {
  font-family: "OTEnjoystoriesBA";
  font-size: 36px;
  color: #f5df4d;
}

.article-desc {
  font-size: 18px;
  line-height: 24px;
  margin: 78px auto 102px auto;
  position: relative;
}

.article-desc::after {
  content: "";
  display: block;
  width: 486px;
  height: 2em;
  background: url("../../../public/assets/quotes.png") no-repeat center /
    contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.article-desc strong {
  font-family: "GmarketSansBold";
  font-size: 24px;
}
